<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Company deleteById</title>
</head>
<body>
<h2>Enter the company ID and then click on the "Delete" button</h2>
<form  action="/company/delete" method="post">
    <p>Id : <input type="text" value="" name="setId" id="setId"></p>
    <button type="submit" style="width:100px;">Delete</button>
</form>
<br>
<h4 style="color:#00ff00" th:if="${errorMessage} == 'true'" th:text="${errorMessage}"></h4>
<h4 style="color:#ff0000" th:if="${errorMessage.length()} > 4" th:text="'Error: ' + ${errorMessage}"></h4>
<br>
<form action="/company" method="get">
    <button type="submit" style="width:100px;">back</button>
</form>
</body>
</html>